.listBox {
    width: 658px;
    height: 72px;
    padding: 12px;
    margin: auto;
    margin-top: -124px;
}    

.taskItem {
    gap: 1rem;
    background: (var(--gray-200));
    background-color: var(--gray-400);
    padding: 1rem;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
    border-color: var(--gray-100);
    border-radius: 5px;
}

.taskItem:first-child {
    margin-top: 56px; 
  }
  
  .taskItem:not(:first-child) {
    margin-top: 12px; 
  }

.selector {
    font-size: 14px;
    font-weight: 400; 
    line-height: 1.4;
    color: (var(--gray-100));
    flex-grow: 1;
}

.completed {
    text-decoration: line-through;
    color: var(--gray-300) 
}

.listBox listContent {
    background: var(--gray-100);
    border-radius: 2px;
    padding: 1rem;
}

.listBox header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.listBox header button {
    background: transparent;
    display: flex;
    flex-direction: column;
    border: 0;
    cursor: pointer;   
}

.taskText {
    color: #808080;
}

.completedButton {
    margin-right: 20px;
    cursor: pointer;
}

.taskStatusCompleted {
    width: 24px;
    height: 24px;
    padding: 5px;
    background-color: #5E60CE;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskStatusIncompleted {
    width: 24px;
    height: 24px;
    padding: 5px;
    background-color: transparent;
    border-radius: 35px;
    border: 2px solid #4EA8DE;
}

.checkIcon {
    color: #fff;   
    font-size: 13px; 
  }

  